@using CodingEventsDemo.ViewModels;
@model AddEventCategoryViewModel;
<h1>Add Event Category</h1>

<form aps-controller="EventCategory" asp-action="Add" method="post">

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <input type="submit" value="Add Category" />

</form>