@using CodingEventsDemo.Models
@model List<EventCategory>

<h1>Coding Event Categories</h1>


@if (Model.Count == 0)
{
    <p>No event Category yet!</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Event Category</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var evt in Model)
            {
                <tr>
                    <th scope="row">@evt.Id</th>
                    <td>@evt.Name</td>
                </tr>
            }
            
        </tbody>
    </table>
}