<h1>Add Event</h1>

<form method="post">

    <div class="form-group">

        <label>
            Name
            <input type="text" name="Name" class="form-control">
        </label>

        <label>
            Description
            <input type="text" name="Description" class="form-control">
        </label>

    </div>

    <input type="submit" value="Add Event" />

</form>