@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email Confirmed";
}


<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1><br>
    <h3>You can now log in to your account </h3><br>
    <a class="btn btn-primary btn-lg" href="/identity/account/login">Log in</a>
</div>